.grid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px 75vh 100px;
  grid-gap: 1em;
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid > * {
  background: #1c1b1f;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

body {
  background: #1c1b1f;
}

.sentence span {
  opacity: 0;
  position: relative;
  display: inline-block;
}
.sentence span.active {
  animation: bounceUp 600ms ease 0ms 1 normal both;
}

/* Bounce top in */
@keyframes bounceUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0.7;
  }
  80% {
    transform: translate3d(0px, 20px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}